<div class="container mt-3">
  <h1 class="alert alert-success">
    Bienvenido/a, <%= name %>
    <button
      class="btn btn-warning float-right mt-2"
      onclick="location.href='/logout'"
    >
      Logout
    </button>
  </h1>
</div>
